@using REAL_EshopProjectHosperger.Models.Brand;
@model List<BrandViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 style="text-align:center">Naše Značky Aut</h1>


<div>
    <a asp-controller="Car" asp-action="List" class="btn btn-primary">Zpět na seznam aut</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary ">Domovská stránka</a>
</div>
<div style="display:grid; grid-template-columns: 1fr 1fr;margin-top:20px;">
    
    @foreach (BrandViewModel brands in Model)
    {

        <div style="text-align:center;">
            <div><a asp-controller="Car" asp-action="ListID" asp-route-id="@brands.ID"><img src="/img/brands/@(brands.ID).png" alt="@brands.Brand_" style="height: 100px; margin:15px; text-align:center " /></a></div>
            <div style="text-align:center;" class="fw-bold">@brands.Brand_</div>
        </div>
    }

</div>





