@using REAL_EshopProjectHosperger.Models.Brand;
@model List<BrandViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table table-hover table-sm text-center mt-2 mb-2">
    <thead class="table-light">
        <tr>
            <th>Značky aut</th>
        </tr>
    </thead>
    <tbody>

        @foreach (BrandViewModel brands in Model) 
        {

            <tr style="text-align:center;">
                <td><a asp-controller="Car" asp-action="ListID" asp-route-id="@brands.ID"><img src="/img/brands/@(brands.ID).png" alt="@brands.Brand_" style="height: 125px; margin:5px; text-align:center " /></a></td>
            </tr>
        }
    </tbody>
</table>