@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-family:Tahoma;" class="display-4">Vítejte na Eshopu AutoZoom</h1>
    <p><a asp-controller="Car" asp-action="List"> NABÍDKA AUTÍČEK</a></p>
</div>


